*{
	padding: 0;
	margin: 0;
    font-family: 'Special Elite', cursive;
}


header{

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    background: #eeeeff;
    font-weight: bold;

    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-bottom: 0.75rem;

    -webkit-box-shadow: 0px 23px 25px 0px rgba(238,238,255,1);
    -moz-box-shadow: 0px 23px 25px 0px rgba(238,238,255,1);
    box-shadow: 0px 23px 25px 0px rgba(238,238,255,1);
}

.logo{
    color:#4b434b;
    font-size: 1.5rem;
    margin-left: 2rem;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:#4b434b;
    text-decoration: none;
}

.button{
    color: white;
    padding: 1rem;
    background: #303030;
    box-shadow: 0px 0px 15px rgba(31, 31, 31, 0.75);
    border-radius: 30px;
    transition-duration: 0.75s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover{
    color: #4b434b;
    box-sizing: border-box;
    padding: 1rem;
    background: #eeeeff;
    border: 2px solid #303030;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.button:focus{
    color: #4b434b;
    box-sizing: border-box;
    padding: 1rem;
    background: #eeeeff;
    border: 2px solid #eeeeff;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.bgimage {
    height:100vh;
    background-color: #eeeeff;
    background-size:cover;
    position:relative;
}

.title_text {
    font-size: 3.5rem;
    color: #2c2c2a;
}
.desc_text {
    font-size: 2rem;
    color: #4b434b;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}